:root {
    --main-blue: #1161e4;
    --main-pink: #f5afbb;
    --off-white: #f1f5fc;
}
@font-face {
    font-family: 'ralewaythin';
    src: url('./raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('./raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    display: flex;
    flex-direction: column;
}

/* Header */

.container {
    flex: 0;
    display: flex;
    justify-content: center;
    background-color: var(--main-blue);
}

header > img {
    width: 250px;
    height: 250px;
}

header {
    min-width: 35ch;
    max-width: 70ch;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18ch, 1fr));
    gap: 1rem;
    place-items: center;
    font-family: 'Raleway', 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: 900;
    color: var(--main-blue);
}

.sidebar {
    position: relative;
    display: flex;
    gap: 1.5rem;
    padding: 0.5rem 1rem;
    background-color: var(--main-pink);
    border-radius: 0.5rem;
}

/* hover effects for links */

.sidebar > div,
.menuHeader > div {
    cursor: pointer;
    position: relative;
}
.sidebar > div::after,
.menuHeader > div::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 3px;
    transform: scaleX(0);
    background-color: var(--main-blue);

    transition: transform 0.3s;
}
.sidebar > div:hover::after,
.menuHeader > div:hover::after {
    transform: scaleX(1);
}

/* Content */

#content {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Raleway';
    background-color: var(--off-white);
}

#content > div {
    align-self: center;
    padding: 1rem 3rem;
    max-width: 70ch;
    min-width: 35ch;
}

.contentHeader {
    font-size: 2rem;
    font-weight: 500;
}

/* home / testimonials page */

.testimonials {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.testimonial {
    display: flex;
    flex-direction: column;
}

.testimonialBody {
    font-size: 1.25rem;
}

.testimonialAuthor {
    margin-left: auto;
    font-weight: 600;
}
/* menu page */

.menuHeader {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--off-white);
    display: flex;
    overflow: auto;
    white-space: nowrap;
    justify-content: center;
    gap: 1rem;
    font-size: 1.5rem;
}

.menuArea {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menuSectionHeader {
    font-size: 2rem;
    font-weight: 500;
}

.menuSection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menuItem > div:first-child {
    font-size: 1.25rem;
    font-weight: 500;
}